* {
    margin: 0;
    padding: 0;
}

body {

    background-color: #121212;
    margin: 100px;
}

#topAlbuns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 70px;

margin-top: 50px;
}

.nota {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 16px;
}

.titulo {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 6em;
    color: #ff4ca8;
}


.album {
    position: relative;
    padding: 1px;
    text-align: center;
    height: 100%; 
}

.album img {
    min-width: 100%; 
    max-width: 100%;
    height: 100%; 
    
}

.album div {
    position: relative;

}


.album p {
    font-family: 'Poppins', sans-serif;
}

.plays {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding: 20px;
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff4ca8;


    display: flex;
    justify-content: center;
    align-items: center;
}


.nomeArtista {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 18px;
}


.nomeAlbum {
    color: #ff4ca8;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

main {

}

.body {

    background: black;
}

header {

   margin-bottom: 20px;

}

.filtros {
    margin-top: 50px;
    display: inline-flex;
}

.filtros div:first-child {
    margin-right: 20px;
}


select {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 3px solid #ff4ca8;
    background-color: #121212;
    border-radius: 30px;
    box-sizing: border-box;
    outline: none;
}

option {
    color: white;
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
    border: none;
    outline: none;
}







@media (min-width: 320px) {
    body {

    
    margin: 30px;
}


    .titulo {
        line-height: 1.2;

        font-size: 2.65em;
      
    }

    .nota {
    margin-top: 10px;
        font-size: 12px;
    }
    

}


@media (min-width: 420px) {
    body {

    
        margin: 50px 50px 50px 50px;
    }
    .titulo {
       
        font-size: 3em;
        line-height: 1.2;
    }

    .nota {
    margin-top: 10px;
        font-size: 12px;
    }



}

/**/

@media (min-width: 768px) {
    body {

    
        margin: 30px 70px 70px 70px;
    }


    .titulo {
        line-height: 1.2;
        font-size: 4.7em;
      
    }

    .nota {
    margin-top: 10px;
        font-size: 14px;
    }
 
}


/**/

@media (min-width: 992px) {

    .titulo {
        line-height: 1.2;
        font-size: 6em;
      
    }

    body {

    
        margin: 50px 100px 100px 100px;
    }

    .nota {
    
        font-size: 16px;
    }
  
}

/**/

@media (min-width: 1200px) {

    body {

    
        margin: 50px 100px 100px 100px;
    }

    .titulo {
       line-height: 1.2;
        font-size: 6em;
      
    }

    .nota {
    margin-top: 20px;
        font-size: 16px;
    }

}